<!DOCTYPE html>
<html lang="en">


<%- include ("./header.ejs",{path: obj.path}) %>


  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">

      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong><%= obj.cardHeaderName %> View</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="ag-theme-alpine">
		<div class="<%= obj.tableClassName %>Table" style="height: 300px;"></div>
            </div>
          </div>
        </div>
      </section>
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Create/Modify <%= obj.cardHeaderName %></strong>
            </h5>
          </div>
          <div class="card-body">
          <div class="d-flex justify-content-center">
          <form action="/admin/api/create<%= obj.formCreateApiEndpoint %>" method="POST" id="<%= obj.formId %>Creation" class="row row-cols-lg-auto g-3 align-items-center" onsubmit="target_popup(this)">
	  <!-- Insert form here -->
		<% if (obj.path == 'customers') { %> <%- include ("./formCustomers.ejs") %> <% } %>
                <% if (obj.path == 'users') { %> <%- include ("./formUsers.ejs") %> <% } %>

	  </form>
          </div>
          </div>
        </div>
      </section>


  </main>
  <!--Main layout-->
  <!-- MDB -->
  <script type="text/javascript" src="/admin/resources/js/mdb.min.js"></script>
  <!-- Custom scripts
  <script type="text/javascript" src="/admin/resources/js/admin.js"></script> -->
  <script type="text/javascript" src="/admin/resources/js/<%= obj.frontEndScriptName %>"></script>

</body>

</html>
